@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --foreground: #171717;
  --background-hero: var(--bg-hero-url);
  --bg-hero-dark: var(--bg-hero-dark-url);
  --bg-regroupement: var(--bg-regroupement-url);
  --bg-rgpd: var(--bg-rgpd-url);
  --bg-etapes-delais: var(--bg-etapes-delais-url);
  --gradient-text: linear-gradient(
    350deg,
    rgba(233, 18, 12, 1) 0%,
    rgba(215, 3, 3, 1) 51%,
    rgba(174, 14, 14, 1) 100%
  );
  --font-family: "Lato", sans-serif;
}

body {
  font-family: var(--font-family);
}

.hero-section {
  background-image: var(--background-hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-section {
  background-image: url("../images/zeta-bg-section.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply lg:h-[14rem];
}

.hero-section-dark {
  background-image: var(--bg-hero-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section-regroupement {
  background-image: var(--bg-regroupement);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section-rgpd {
  background-image: var(--bg-rgpd);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section-et-delais {
  background-image: var(--bg-etapes-delais);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-gradient {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-path-footer {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

@media (min-width: 1024px) {
  .clip-path-footer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }
}

.hoverRed {
  @apply hover:text-secondary transition-all duration-300;
}

.focus-outline {
  @apply focus:outline-secondary focus:outline-1;
}

a {
  -webkit-tap-highlight-color: transparent;
}

a:active,
a:focus,
a:visited {
  color: inherit;
}

.button-home {
  color: #ffffff !important;
}

.navbar a,
.drawer a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar a:active,
.drawer a:active {
  color: #ffffff !important;
}

html {
  scroll-behavior: smooth;
}

h3[id^="etape-"] {
  scroll-margin-top: 100px;
}
